@charset "UTF-8";
/* CSS Document 
> Aboutme.css is intended for use in conjuction with photography.css. Aboutme.css 
> only contains the specific changes from photography.css to aboutme.css. */

/*~~~~~ Notes ~~~~~
- Colors used:
    Black = rgb(12, 12, 12)
    White = rgb(256, 256, 256) or #FFFFFF
    Off-white = #f1f1f1
    Grey = #757575
    Teal = #c34a18
    Burgundy = #c34a18


/**********************
Smartphone size
**********************/

#gallery {
    text-align: center;
    color: white;
    padding: 0 6%;
}

#gallery h1 {
    font-size: 2em;
    font-family: iAWriterDuospace-Bold;
}

#gallery h2 {
    font-size: 1.4em;
    margin-top: 2em;
}

#gallery h3 {
    font-size: .9em;
}

#gallery p {
    font-size: 1em;
    text-align: left;
    text-indent: 3em;
    line-height: 1.4em;
}

#gallery a:link {
    color: white;
    text-decoration: underline #c34a18;
}

#gallery a:visited {
    color: white;
    text-decoration: underline #c34a18;
}

#gallery a:hover {
    color:  white;
    background-color: #c34a18;
    text-decoration: underline white;
}

/**********************
Tablet size
**********************/
@media screen and (min-width: 768px) {

    #gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

}
/**********************
Desktop size
**********************/
@media screen and (min-width: 1024px) {
    
    #gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    
}

/**********************
1440p width size
**********************/
@media screen and (min-width: 1440px) {
    
    #gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
