@charset "UTF-8";
/* CSS Document */

/*~~~~~ Notes ~~~~~
- Colors used:
    Black = rgb(18, 18, 18)
    White = rgb(256, 256, 256) or #FFFFFF
    Grey = #757575
    Teal = #c34a18
    Burgundy = #c34a18


/**********************
Smartphone size
**********************/

html {
    height: 100%;
    background-color: black;
}

body {
    display: block;
    align-items: center;
    background-color: white;
    height: 94%;
    top: 50%;
    margin: 0;
    border: 20px solid black;
}

header {
    margin: 0 50px 50px 50px;
    text-align: center;
}

h1 {
    color: rgb(18, 18, 18);
    font-family: helveticaNeueBold, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-weight: 600;
    font-size: 3.5em;
}

#parent {
    margin: auto;
}

.nav {
    margin: auto;
    text-align: center;
    font-family: "Courier New", Courier, sans-serif;
    font-size: 2em;
}

.nav a:hover {
    color: rgb(18, 18, 18);
    text-decoration: underline;
    text-decoration-color: #c34a18;
    -moz-text-decoration-color: #c34a18;
    -webkit-text-decoration-color: #c34a18;
    transition: none;
}

.nav ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

.nav li {
    margin-bottom: 40px;
}

.social {
    margin-top: 50px;
}

.icon {
    margin: auto 20px 20px;
    height: 29px;
    width: auto;
    border: 0;
}

footer {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: helveticaNeueLt, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 6pt;
    color: #757575;
}

/**********************
Tablet size
**********************/
@media only screen and (min-width: 768px) {
    
    body {
        display: block;
    }
    
    header {
        margin: 150px 75px 50px;
        text-align: center;
    }
    
    h1 {
        font-size: 5em;
    }
    
    #parent {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav {
        display: inline-block;
        margin: 50px 100px;
        text-align: center;
        font-family: "Courier New", Courier, sans-serif;
        font-size: 2em;
    }
    
    #aboutme {
        /*font-family: helveticaNeueLt, "Helvetica Neue", Helvetica, Arial, "sans-serif";*/
        font-family: "Courier New", Courier, sans-serif;
        font-size: 1.5em;
        margin-bottom: 50px;
    }

    .icon {
        margin: 20px 20px;
        height: 29px;
        width: 29px;
        border: 0;
    }
    
    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        text-align: center;
        font-family: helveticaNeueLt, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-size: .75em;
        color: #777777;
    }
    
}

/**********************
Desktop size
**********************/
@media only screen and (min-width: 1024px) {
    body {
        display: block;
    }

    header {
        margin: 150px auto 0;
        grid-area: header;
    }

    h1 {
        color: white;
        font-family: helveticaNeueBold, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-weight: 600;
        font-size: 5.375em;
    }

    #parent {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav {
        display: inline-block;
        position: relative;
        margin: 50px 100px;
        text-align: center;
        font-family: "Courier New", Courier, sans-serif;
        font-size: 2em;
    }
    
    #aboutme {
        /*font-family: helveticaNeueLt, "Helvetica Neue", Helvetica, Arial, "sans-serif";*/
        font-family: "Courier New", Courier, sans-serif;
        font-size: 1.5em;
        margin-bottom: 50px;
    }

    .icon {
        margin: 20px 20px;
        height: 29px;
        width: 29px;
        border: 0;
    }
    
    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        text-align: center;
        font-family: helveticaNeueLt, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-size: .75em;
        color: #777777;
    }
}

/**********************
Anchor link styles
**********************/

a:link {
	color: rgb(18, 18, 18);
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: rgb(18, 18, 18);
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #c34a18;
	background-color: transparent;
	text-decoration: underline solid #c34a18;
}


/**********************
Imported fonts
**********************/

@font-face {
	font-family: helveticaNeueNormal;
	src: url(fonts/HelveticaNeue.ttf);
}

@font-face {
	font-family: helveticaNeueLt;
	src: url(fonts/HelveticaNeueLt.ttf);
}

@font-face {
	font-family: helveticaNeueMedium;
	src: url(fonts/HelveticaNeueMed.ttf)
}

@font-face {
	font-family: helveticaNeueBold;
	src: url(fonts/HelveticaNeueBd.ttf)
}