@charset "UTF-8";
/* CSS Document */

/*~~~~~ Notes ~~~~~
- Colors used:
    Black = rgb(12, 12, 12)
    White = rgb(256, 256, 256) or #FFFFFF
    Off-white = #f1f1f1
    Grey = #757575
    Teal = #c34a18
    Burgundy = #c34a18


/**********************
Smartphone size
**********************/

html {
    height: 100%;
    background-color: black;
}

body {
    display: block;
    align-items: center;
    background-color: white;
    height: 94%;
    top: 50%;
    margin: 0;
    border: 20px solid black;
}

header {
    margin: 75px 50px;
    text-align: center;
}

h1 {
    color: rgb(12, 12, 12);
    font-family: helveticaNeueBold, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-weight: 600;
    font-size: 3em;
}

#parent {
    margin: auto;
}

.nav {
    margin: 85px auto;
    text-align: center;
    font-family: "Courier New", Courier, sans-serif;
    font-size: 1.6em;
    position: relative;
}

.nav ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

.nav li {
    margin-bottom: 40px;
}

.social {
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
}

.icon {
    margin: auto 20px;
    height: 29px;
    width: auto;
    border: 0;
}

footer {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: helveticaNeueLt, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: .6em;
    color: #757575;
}

/**********************
Tablet size (on desktop)
**********************/
@media only screen and (min-width: 768px) {

    header {
        margin: 88px auto 0;
    }
    
    h1 {
        font-size: 4em;
    }

    .nav {
        font-size: 1.8em;
    }

    .nav a:hover {
        color: rgb(12, 12, 12);
        text-decoration: underline;
        text-decoration-color: #c34a18;
        -moz-text-decoration-color: #c34a18;
        -webkit-text-decoration-color: #c34a18;
        transition: none;
    }
    
    .social {
        width: 500px;
    }

    .icon {
        margin: auto 40px;
    }
    
}

/**********************
Tablet size (mobile)
**********************/
@media only screen and (min-width: 768px) and (min-height: 1024px) {

    body {
        height: 96%;
    }

    header {
        margin: 150px auto 0;
    }

    .nav {
        margin: 125px auto;
    }

}

/**********************
Desktop size
**********************/
@media only screen and (min-width: 1024px) {
    
    .nav {
        margin: 85px auto;
    }
    
}

/**********************
Anchor link styles
**********************/

a:link {
	color: rgb(12, 12, 12);
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: rgb(12, 12, 12);
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #c34a18;
	background-color: transparent;
	text-decoration: underline solid #c34a18;
}


/**********************
Imported fonts
**********************/

@font-face {
	font-family: helveticaNeueNormal;
	src: url(fonts/HelveticaNeue.ttf);
}

@font-face {
	font-family: helveticaNeueLt;
	src: url(fonts/HelveticaNeueLt.ttf);
}

@font-face {
	font-family: helveticaNeueMedium;
	src: url(fonts/HelveticaNeueMed.ttf)
}

@font-face {
	font-family: helveticaNeueBold;
	src: url(fonts/HelveticaNeueBd.ttf)
}