@charset "UTF-8";
/* CSS Document 
> travel.css is intended for use in conjuction with photography.css. Travel.css 
> only contains the specific changes from photography.css to travel.css. */

/*~~~~~ Notes ~~~~~
- Colors used:
    Black = rgb(12, 12, 12)
    White = rgb(256, 256, 256) or #FFFFFF
    Off-white = #f1f1f1
    Grey = #757575
    Teal = #c34a18
    Burgundy = #c34a18


/**********************
Smartphone size
**********************/

.mainContent img {
    margin: auto;
}

.galleryThumb {
    background-color: #f1f1f1;
    margin: auto auto 15px auto;
    padding: 8px;
    border-radius: 3px;
}

.thumbCaption {
    width: 80%;
    margin: 10px auto;
    color: rgb(12, 12, 12);
    text-align: center;
    font-size: 1em;
}

/**********************
Tablet size
**********************/
@media screen and (min-width: 768px) {

    .bodycontent {
        width: calc(100% - 276px);
        margin: 20px 0;
        left: 276px;
    }

    .mainContent {
        column-gap: normal;
    }

    .galleryThumb {
        display: inline-block;
    }

}
/**********************
Desktop size
**********************/
@media screen and (min-width: 1024px) {
    
    .mainContent {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-gap: normal;
    }
    
}

/**********************
1440p width size
**********************/
@media screen and (min-width: 1440px) {

    .mainContent {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

}
