@charset "UTF-8";
/* CSS Document */

/*~~~~~ Notes ~~~~~
- Colors used:
    Black = rgb(12, 12, 12)
    White = rgb(256, 256, 256) or #FFFFFF
    Off-white = #f1f1f1
    Grey = #757575
    Teal = #c34a18
    Burgundy = #c34a18


/**********************
Smartphone size
**********************/

.mainContent {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1.7s ease-in-out;
}

#loadedMainContent {
    visibility: visible;
    opacity: 1;
    transition-delay: .7s;
}

/**********************
Tablet size
**********************/
@media screen and (min-width: 768px) {

}
/**********************
Desktop size
**********************/
@media screen and (min-width: 1024px) {
    
}

/**********************
1440p width size
**********************/
@media screen and (min-width: 1440px) {

}

/**********************
Anchor link styles
**********************/


/**********************
Imported fonts
**********************/